* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

input,
button {
  outline: none;
  background: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.switchers {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.title h3 {
  font-size: 2rem;
}
.title p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0.8;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.input-container label {
  font-size: 20px;
  cursor: pointer;
}
.input-container > input {
  width: 250px;
  border: 1px solid var(--text-color);
  padding: 8px;
  border-radius: 8px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.icon {
  width: 250px;
  border: 1px solid var(--text-color);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  color: var(--text-color);
  margin-bottom: 15px;
}
.icon input {
  color: var(--text-color);
}
.icon input::placeholder {
  color: var(--text-color);
}
.input-container input::placeholder {
  color: var(--text-color);
}
.forgot {
  text-align: end;
}
.login-btn {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.line-with-text:not(:empty)::before {
  margin-right: .75em;
}

.line-with-text:not(:empty)::after {
  margin-left: .75em;
}
