.forgot-link {
  text-align: center;
  margin-top: 1rem;
  color: var(--subtext-color);
}

.forgot-link a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.forgot-link a:hover {
  color: var(--secondary-color);
}
.fogot-wrapper {
  z-index: 1;
}