:root {
  --main-color: #2563eb; /* Stronger blue */
  --secondary-color: #7c3aed;
  --accent-color: #0ea5e9;

  --bg-color: #eef2f7; /* Slightly tinted background for depth */
  --card-bg: #ffffff;
  --text-color: #0f172a;
  --border-color: #d1d5db;
  --hover-color: #0f172aa4;

  --shadow-light: 0 2px 8px rgba(0, 0, 0, 0.07);
  --shadow-medium: 0 4px 14px rgba(0, 0, 0, 0.12);

  --radius: 12px;
  --transition: all 0.3s ease;
}


:root[data-theme="dark"] {
  --main-color: #60a5fa;
  --secondary-color: #a855f7;
  --accent-color: #22d3ee;
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --hover-color: #eef2f7af;
  --text-color: #f8fafc;
  --border-color: #334155;
  --shadow-light: 0 2px 6px rgba(255, 255, 255, 0.05);
  --shadow-medium: 0 4px 12px rgba(255, 255, 255, 0.1);
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}
